    <div id="main">
      <head-div></head-div>
      <flex-slider slide="curso in cursos track by $index" animation="slide" >
        <li class="carousel-inner">
          <img src="{{curso.img}}">
          <div class="carousel-caption">
            <h4><a href="#">{{curso.name}}</a></h4>
            <p>{{curso.resolution}}</p>
          </div>
          <div class="caption-block">
            <ul class="calidad" ng-if="curso.logos.length == 3">
              <li  id="one" class="img-item">
              </li>
              <li  id="two" class="img-item">
              </li> 
              <li  id="three" class="img-item">
              </li>       
            </ul>
            <ul class="calidad" ng-if="curso.logos.length == 4">
              <li  id="one" class="img-item">
              </li>
              <li  id="two" class="img-item">
              </li> 
              <li  id="three" class="img-item">
              </li>
              <li  id="four" class="img-item">
              </li>       
            </ul>
          </div>
        </li>
      </flex-slider>
      <content-div></content-div> 
      <foot-div></foot-div>
    </div>